<h1>Questions</h1>

<table>
 <p>
  	<tr>
  		<p>Question id : <%= @question.id %></p>
  		<p>Question body : <%= @question.body %></p>
      <p><%= link_to "Delete", @question, method: :delete %></p>
  	</tr>
  <body>
  