<h1>Questions</h1>

<table>
 <p>
   <%= @question.body %>
   <br>
    	
  </p>
  
  	<tr>
  		<p><%= @question.id %></p>
  		<p><%= @question.body %></p>
   		<p><%= link_to "Edit", @question </p>
  	</tr>
  